<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente</title>
    <link rel="stylesheet" href="/css/cliente.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gabriela&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="contenedor-principal">
        <header class="header">
            <div class="logo-terminal">
                <img src="/img/logo.jpg" alt="Logo">
                <h1 class="titulo">Delfínes</h1>
            </div>

            <nav id="main-menu">
                <ul>
                    <li>
                        <a id="inicio" href="/Terminal_autobuses.html">
                            <i class='bx  bx-home-alt'></i> Inicio
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class='bx bx-notepad'></i> Contacto
                        </a>
                        <ul>
                            <li>
                                <a href="#">
                                    <i class='bx bx-envelope'></i> Buszy_mx@buses.terrestres.com
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class='bx bx-phone'></i> 9178530047 ó 7725413820
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class='bx bx-star'></i> Servicios
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class='bx bx-help-circle'></i> Ayuda
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="redes-sociales">
                <a href="#"><i class="bx bxl-instagram"></i></a>
                <a href="#"><i class="bx bxl-facebook"></i></a>
                <a href="#"><i class="bx bxl-twitter"></i></a>
            </div>
        </header>


        <main class="main">
            <div class="container">
                <div class="form-box login">
                    <form action="#">
                        <h1>Iniciar sesión</h1>

                        <div class="social-icons">
                            <a href="#"><i class="bx bxl-google"></i></a>
                            <a href="#"><i class="bx bxl-facebook"></i></a>
                            <a href="#"><i class="bx bxl-twitter"></i></a>
                        </div>

                        <div class="input-box">
                            <i class='bx bxs-user'></i>
                            <input type="text" placeholder="Usuario" required>
                        </div>

                        <div class="input-box">
                            <i class='bx bxs-lock-alt'></i>
                            <input type="password" placeholder="Contraseña" required>
                        </div>

                        <div class="forgot-link">
                            <a href="#">¿Olvidaste tu contraseña?</a>
                        </div>

                        <button type="submit" class="btn">Iniciar sesión</button>
                    </form>
                </div>

                <div class="form-box register">
                    <form action="#">
                        <h1>Regístrate</h1>

                        <div class="social-icons">
                            <a href="#"><i class="bx bxl-google"></i></a>
                            <a href="#"><i class="bx bxl-facebook"></i></a>
                            <a href="#"><i class="bx bxl-twitter"></i></a>
                        </div>

                        <div class="input-box">
                            <i class='bx bxs-user'></i>
                            <input type="text" placeholder="Usuario" required>
                        </div>

                        <div class="input-box">
                            <i class="bx bxs-envelope"></i>
                            <input type="email" placeholder="Correo electrónico" required>
                        </div>

                        <div class="input-box">
                            <i class="bx bxs-lock-alt"></i>
                            <input type="password" placeholder="Contraseña" required>
                        </div>

                        <button type="submit" class="btn">Regístrate</button>
                    </form>
                </div>

                <div class="toggle-box">
                    <div class="toggle-panel toggle-left">
                        <h1>Bievenido!</h1>
                        <p>Regístrate con tu cuenta <br>
                            e inicia el nuevo comienzo <br>
                            de tu aventura.</p>
                        <button class="btn register-btn">Regístrate</button>
                    </div>

                    <div class="toggle-panel toggle-right">
                        <h1>Hola, qué tal!</h1>
                        <p>Inicia sesión y descubre <br>
                            todos los beneficios exclusivos <br>
                            que tenemos para ti.
                        </p>
                        <button class="btn login-btn">Iniciar sesión</button>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script>
        const container = document.querySelector('.container');
        const registerBton = document.querySelector('.register-btn');
        const loginBton = document.querySelector('.login-btn');

        registerBton.addEventListener('click', () => {
            container.classList.add('active');
        })

        loginBton.addEventListener('click', () => {
            container.classList.remove('active');
        })    
    </script>
</body>
</html>